header {
    background-color: blue;
}
img {
    width: 25px;
}
a {
    color: powderblue;
    text-decoration: none;
}
#avathar {
 width: 150px ;


}
ul {
    list-style-type: none;
}
#first {
    background-color: beige;
}
#second {
    background-color: teal;
}
#logo {
    width: 100px;
}
body {
    background-color: bisque;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#nav {
   display: flex;
   flex-direction: row;
   align-items: center; 
   gap: 10px;
}
#section1 {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
}